        <div class="sidebar-wrapper">

		{{ partial "profile.html" . }}

		{{ if .IsTranslated }}
		{{ partial "translate.html" . }}
		{{ end }}

		{{ if .Site.Params.contact.enable }}
		{{ partial "contact.html" . }}
		{{ end }}

		{{ if .Site.Params.education.enable }}
		{{ partial "education.html" . }}
		{{ end }}

		{{ if .Site.Params.language.enable }}
		{{ partial "language.html" . }}
		{{ end }}

		{{ if .Site.Params.interests.enable }}
		{{ partial "interests.html" . }}
		{{ end }}

        </div><!--//sidebar-wrapper-->
