            <section class="skills-section section">
                <h2 class="section-title"><i class="fa {{ .Site.Params.skills.icon }}"></i>{{ .Site.Params.skills.title }}</h2>
                <div class="skillset">
				{{ range .Site.Params.skills.list }}
                    <div class="item">
                        <h3 class="level-title">{{ .skill }}</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="{{ .level }}">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                {{ end }}
                </div>  
            </section><!--//skills-section-->