<!DOCTYPE html>
    {{ partial "lang.html" . }}
<head>
    {{ partial "head.html" . }}
</head>

<body>
    <div class="wrapper {{ with .Site.Params.sidebarOnLeft }} sidebarLeft {{ end }}">

        {{ partial "sidebar.html" . }}

        <div class="main-wrapper">

        {{ if .IsTranslated }}
        {{ partial "translate.html" . }}
        {{ end }}

        {{ if .Site.Params.summary.enable }}
        {{ partial "summary.html" . }}
        {{ end }}

        {{ if .Site.Params.experiences.enable }}
        {{ partial "experiences.html" . }}
        {{ end }}

        {{ if .Site.Params.projects.enable }}
        {{ partial "projects.html" . }}
        {{ end }}

        {{ if .Site.Params.skills.enable }}
        {{ partial "skills.html" . }}
        {{ end }}

        </div>
    </div>

	{{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}
</body>
</html>
